<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Hospital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hospital</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'pacientes_lista' %}">Paciente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'grupos_lista' %}">Grupo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'diagnosticos_lista' %}">Diagnóstico</a>
                            </li>
                            <li class="nav-item dropdown">
                                {% if request.user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="{% static 'img/person-circle.svg' %}" alt="user" loading="lazy">
                                    <span>{{user.username}}</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownId">
                                    <a class="dropdown-item" href="{% url 'registro' %}">Registrarse</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid pt-5">{% block content %}{% endblock content %}</div>
    </main>
    <footer>
        <center>
            <h1>Contactanos a través de</h1>
            <p><mark>+53547890</mark></p>
        </center>
    </footer>
    <script src="{% static 'js/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>