{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Hospital | Diagnósticos |Eliminar Diagnóstico{% endblock %}
{% block content %}

{% if perms.diagnosticos.es_doctor %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid px-4 align-content-xxl-center">
        <h2 class="text-sm-center">
            ¿Esta seguro que desea eliminar el diagnóstico {{ object.id }}?<br>
            Esta acción será irreversible
        </h2>

        <div class="p-2" style="display: flex; justify-content: center;">
            <input class="btn btn-outline-success m-5" type="submit" value="Aceptar">
            <a class="btn btn-outline-danger m-5" href="{% url 'diagnosticos_lista' %}">Cancelar</a>

        </div>
    </div>
</form>
{% else %}
<div class="text-sm-center">
    <h1>Acceso denegado</h1>
    <p>El acceso a esta página ha sido denegada al usuario {{user.username}}. Solos los doctores y la secretaria pueden
        tener acceso a la administración de los diagnósticos</p>
    <a class="btn btn-primary pt-2" href="{% url 'diagnosticos_lista' %}" role="button">Volver a la lista de
        diagnósticos</a>
</div>
{% endif %}
{% endblock %}